@using DevExpress.Blazor
@using System.ComponentModel.DataAnnotations
@using DxBlazorWeb.Services.Interface
@using DxBlazorWeb.Model
@using System.Text.Json
@inject IAppService AppService
@inject IJSRuntime JS

<DxPopup @bind-Visible="Visible"
Width="1200px"
HeaderText="@(IsEdit ? "Chỉnh sửa sản phẩm" : "Thêm sản phẩm")"
ShowCloseButton="true"
Context="popupContext"
CloseOnOutsideClick="true">

    <DxTabs >
        <!-- Tab 1: Nhận diện sản phẩm -->
        <DxTabPage Text="1. Nhận diện sản phẩm" >
            <EditForm EditContext="@identityContext" Context="identityContext" OnInvalidSubmit="HandleSaveNewProduct">
                <DataAnnotationsValidator />
                @* <ValidationSummary /> *@
                <DxFormLayout ColCountMd="2">
                    <DxFormLayoutItem Caption="Tên sản phẩm">
                        <DxTextBox @bind-Text="Identity.TenSanPham" NullText="Nhập tên sản phẩm..." />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Mã hàng">
                        <DxTextBox @bind-Text="Identity.MaHang" NullText="Nhập mã hàng..." />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Khách hàng (Mã)">
                        <DxComboBox Data="@CustomerCodes"
                        @bind-Value="Identity.MaKhachHang"
                        NullText="Chọn mã KH (CUSTOMER_CODE)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Mã lô hàng">
                        <DxTextBox @bind-Text="Identity.MaLoHang" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Mã nhóm hàng">
                        <DxTextBox @bind-Text="Identity.MaNhomHang" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="" ColSpanMd="12" CssClass="text-right">
                        <DxButton Text="@step1BtnStr" RenderStyle="ButtonRenderStyle.Primary" SubmitFormOnClick="true" />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>
        </DxTabPage>

        <!-- Tab 2: Thông tin sản phẩm -->
        <DxTabPage Text="2. Thông tin sản phẩm">
            <EditForm EditContext="@infoContext" Context="infoContext">
                <DataAnnotationsValidator />
                <DxFormLayout ColCountMd="3">
                    <DxFormLayoutGroup Caption="Loại bao">
                        <DxFormLayoutItem Caption="Thân chạc">
                            <DxComboBox Data="@YesNo" @bind-Value="Info.LoaiBaoThanChac" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Thân dài">
                            <DxComboBox Data="@YesNo" @bind-Value="Info.LoaiBaoThanDai" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Ống thân chạc">
                            <DxComboBox Data="@YesNo" @bind-Value="Info.LoaiBaoOngChac" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Ống thân dài">
                            <DxComboBox Data="@YesNo" @bind-Value="Info.LoaiBaoOngDai" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Bao tròn">
                            <DxComboBox Data="@YesNo" @bind-Value="Info.LoaiBaoTron" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Ghép 4 tấm">
                            <DxComboBox Data="@YesNo" @bind-Value="Info.LoaiBao4Tam" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Khác">
                            <DxComboBox Data="@YesNo" @bind-Value="Info.LoaiBaoKhac" />
                        </DxFormLayoutItem>
                    </DxFormLayoutGroup>

                    <DxFormLayoutGroup Caption="Kích thước / tải trọng">
                        <DxFormLayoutItem Caption="Chiều dài đáy"><DxTextBox @bind-Text="Info.ChieuDaiDay" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Chiều rộng đáy"><DxTextBox @bind-Text="Info.ChieuRongDay" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Chiều cao"><DxTextBox @bind-Text="Info.ChieuCao" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="ĐK miệng"><DxTextBox @bind-Text="Info.DuongKinhMieng" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="ĐK đáy"><DxTextBox @bind-Text="Info.DuongKinhDay" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Tải trọng yêu cầu"><DxTextBox @bind-Text="Info.TaiTrongYC" /></DxFormLayoutItem>
                    </DxFormLayoutGroup>

                    <DxFormLayoutGroup Caption="Liner / Tráng / Màu vải">
                        <DxFormLayoutItem Caption="Độ dày liner"><DxTextBox @bind-Text="Info.DoDayLiner" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Rộng liner"><DxTextBox @bind-Text="Info.ChieuRongLiner" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Dài liner"><DxTextBox @bind-Text="Info.ChieuDaiLiner" /></DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Có tráng">
                            <DxComboBox Data="@YesNo" @bind-Value="Info.CoTran" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Kiểu tráng"><DxTextBox @bind-Text="Info.KieuTrang" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Màu vải"><DxTextBox @bind-Text="Info.MauVai" /></DxFormLayoutItem>
                    </DxFormLayoutGroup>

                    <DxFormLayoutGroup Caption="Tùy chọn khác">
                        <DxFormLayoutItem Caption="Đai đáy (có)">
                            <DxComboBox Data="@YesNo" @bind-Value="Info.CoDaiDay" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Chiều dài đai"><DxTextBox @bind-Text="Info.DaiDay" /></DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Chống phình (có)">
                            <DxComboBox Data="@YesNo" @bind-Value="Info.CoChongPhinh" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Rộng chống phình"><DxTextBox @bind-Text="Info.RongChongPhinh" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="SL chống phình"><DxTextBox @bind-Text="Info.SoLuongPhinh" /></DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Chống xì (có)">
                            <DxComboBox Data="@YesNo" @bind-Value="Info.CoChongXi" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="SL chống xì"><DxTextBox @bind-Text="Info.SoLuongXi" /></DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Dây chống xì (có)">
                            <DxComboBox Data="@YesNo" @bind-Value="Info.CoDayChongXi" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="SL dây chống xì"><DxTextBox @bind-Text="Info.SoLuongDayXi" /></DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Có mếch"><DxComboBox Data="@YesNo" @bind-Value="Info.CoMex" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Nhám"><DxComboBox Data="@YesNo" @bind-Value="Info.CoNham" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="PE đáy"><DxComboBox Data="@YesNo" @bind-Value="Info.CoPeDay" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Pallet"><DxComboBox Data="@YesNo" @bind-Value="Info.CoPallet" /></DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Ghi chú"><DxTextBox @bind-Text="Info.GhiChu" /></DxFormLayoutItem>
                    </DxFormLayoutGroup>
                </DxFormLayout>
            </EditForm>
        </DxTabPage>

        <!-- Tab 3: Thông tin chi tiết -->
        <DxTabPage Text="3. Thông tin chi tiết">
            <EditForm EditContext="@detailContext" Context="detailContext">
                <DataAnnotationsValidator />
                <DxFormLayout ColCountMd="3">
                    <DxFormLayoutGroup Caption="Vải">
                        <DxFormLayoutItem Caption="Thân ống"><DxComboBox Data="@YesNo" @bind-Value="Detail.VaiThanOng" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Thân dài"><DxComboBox Data="@YesNo" @bind-Value="Detail.VaiThanDai" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Thân ngắn"><DxComboBox Data="@YesNo" @bind-Value="Detail.VaiThanNgan" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Miệng"><DxComboBox Data="@YesNo" @bind-Value="Detail.VaiMieng" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Đáy"><DxComboBox Data="@YesNo" @bind-Value="Detail.VaiDay" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Bocang"><DxComboBox Data="@YesNo" @bind-Value="Detail.VaiBocang" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Tấm gia cường"><DxComboBox Data="@YesNo" @bind-Value="Detail.VaiTamGiaCuong" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Đệm 10x10"><DxComboBox Data="@YesNo" @bind-Value="Detail.VaiDem10x10" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Xả chéo miệng"><DxComboBox Data="@YesNo" @bind-Value="Detail.VaiXaCheoMieng" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Xả chéo đáy"><DxComboBox Data="@YesNo" @bind-Value="Detail.VaiXaCheoDay" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Tương miệng"><DxComboBox Data="@YesNo" @bind-Value="Detail.VaiTuongMieng" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Tương đáy"><DxComboBox Data="@YesNo" @bind-Value="Detail.VaiTuongDay" /></DxFormLayoutItem>
                    </DxFormLayoutGroup>

                    <DxFormLayoutGroup Caption="PE.Tarp">
                        <DxFormLayoutItem Caption="TC miệng"><DxComboBox Data="@YesNo" @bind-Value="Detail.PeTarpTcMieng" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="TC đáy"><DxComboBox Data="@YesNo" @bind-Value="Detail.PeTarpTcDay" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="TC Duffle"><DxComboBox Data="@YesNo" @bind-Value="Detail.PeTarpTcDuffle" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="PE đáy"><DxComboBox Data="@YesNo" @bind-Value="Detail.PeTarpPeDay" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Chống bẩn"><DxComboBox Data="@YesNo" @bind-Value="Detail.PeTarpChongBan" /></DxFormLayoutItem>
                    </DxFormLayoutGroup>

                    <DxFormLayoutGroup Caption="Tape / Beft / Rope / Khác">
                        <DxFormLayoutItem Caption="Dây TC miệng"><DxComboBox Data="@YesNo" @bind-Value="Detail.TapeDayTcMieng" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Dây móc"><DxComboBox Data="@YesNo" @bind-Value="Detail.TapeDayMoc" /></DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Đai nặng"><DxComboBox Data="@YesNo" @bind-Value="Detail.BeftDaiNang" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Đai ngang"><DxComboBox Data="@YesNo" @bind-Value="Detail.BeftDaiNgang" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Đai bocang miệng"><DxComboBox Data="@YesNo" @bind-Value="Detail.BeftDaiBocangMieng" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Đai bocang thân"><DxComboBox Data="@YesNo" @bind-Value="Detail.BeftDaiBocangThan" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Đai bocang đáy"><DxComboBox Data="@YesNo" @bind-Value="Detail.BeftDaiBocangDay" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Đai móc"><DxComboBox Data="@YesNo" @bind-Value="Detail.BeftDaiMoc" /></DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Chạc miệng"><DxComboBox Data="@YesNo" @bind-Value="Detail.RopeChacMieng" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Chạc đáy"><DxComboBox Data="@YesNo" @bind-Value="Detail.RopeChacDay" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Chạc nặng"><DxComboBox Data="@YesNo" @bind-Value="Detail.RopeChacNang" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Chạc ngang"><DxComboBox Data="@YesNo" @bind-Value="Detail.RopeChacNgang" /></DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Label"><DxComboBox Data="@YesNo" @bind-Value="Detail.Label" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Pocket"><DxComboBox Data="@YesNo" @bind-Value="Detail.Pocket" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Chỉ may"><DxComboBox Data="@YesNo" @bind-Value="Detail.ChiMay" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Ống PVC"><DxComboBox Data="@YesNo" @bind-Value="Detail.OngPvc" /></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Khóa chạc"><DxComboBox Data="@YesNo" @bind-Value="Detail.KhoaChac" /></DxFormLayoutItem>
                    </DxFormLayoutGroup>
                </DxFormLayout>
            </EditForm>
        </DxTabPage>
    </DxTabs>

    @* <div class="mt-4"> *@
    @*     <DxButton Text="@(IsEdit ? "Cập nhật" : "Lưu")" RenderStyle="ButtonRenderStyle.Primary" Click="SaveAsync" /> *@
    @*     <DxButton Text="Hủy" CssClass="ml-2" Click="() => VisibleChanged.InvokeAsync(false)" /> *@
    @* </div> *@
</DxPopup>

@code {
    [Parameter] public bool Visible { get; set; }
    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }
    [Parameter] public bool IsEdit { get; set; }

    public string step1BtnStr { set; get; } = "Lưu";
    // Models cho 3 tab
    ProductIdentityModel Identity { get; set; } = new();
    ProductInfoModel Info { get; set; } = new();
    ProductDetailModel Detail { get; set; } = new();

    EditContext identityContext;
    EditContext infoContext;
    EditContext detailContext;

    // Dữ liệu hỗ trợ
    List<string> CustomerCodes = new(); // bind CUSTOMER.CUSTOMER_CODE
    List<string> YesNo = new() { "Có", "Không" }; // hoặc {"1","0"}

    protected override void OnParametersSet()
    {
        identityContext = new EditContext(Identity);
        infoContext = new EditContext(Info);
        detailContext = new EditContext(Detail);
    }

    protected override async Task OnInitializedAsync()
    {
        // Load mã KH (CUSTOMER_CODE) – giả định AppService có hàm này
        var customers = await AppService.GetAllCustomersAsync();
        CustomerCodes = customers.Select(c => c.CustomerCode).Distinct().OrderBy(x => x).ToList();

    }

    async Task HandleSaveNewProduct()
    {
        step1BtnStr = "Đang lưu...";
        Console.WriteLine(JsonSerializer.Serialize(Identity, new JsonSerializerOptions { WriteIndented = true }));

    }

    async Task SaveAsync()
    {
        // Validate cả 3 form
        var v1 = identityContext.Validate();
        var v2 = infoContext.Validate();
        var v3 = detailContext.Validate();

    }
}
